body{
    background: url("../img/fondjedi4.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #03799c;
}

 h1{
    color: #03799c;
    text-decoration: underline;
}

.paragraphe p{
    color: #03799c;
    background-color: #14476375;
    border: 4px solid #03799c;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image{ 
    display: flex;
    justify-content: center;
    margin-top: 45px;
    text-align: center;
}

.perso1{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 375px;
    width: 400px;
}

.perso2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 25rem;
    height: 375px;
    width: 400px;
}

#infoluke{
    width: auto;
    height: auto;
    opacity: 0;
}


.luke img{
    height: 100%;
    width: 100%;
}

#infoobiwan{
    width: auto;
    height: auto;
    opacity: 0;
}

.obiwan img{
    height: 100%;
    
}

.perso1:hover #infoluke:not(:hover) {
    transition:all 1s;
    opacity:1;
}

.perso2:hover #infoobiwan:not(:hover) {
    transition:all 1s;
    opacity:1;
}

footer{
    display: flex;
    color: #03799c;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
    background-color: #14476375;
    position:absolute;
    bottom:0;
    width:99%;
    padding-top:50px;
    height:30px;
}


