body{
    background: url("../../img/fondsith3.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #a80b20;
}

h1{
    color: #a80b20;
    text-decoration: underline;
}

.paragraphe p{
    color: #a80b20;
    background-color: /*#a80b20*/ #a80b2081;
    border: 4px solid rgba(0, 0, 0, 0.5);
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image{ 
    display: flex;
    justify-content: center;
    margin-top: 45px;
    text-align: center;
}

.perso1{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 375px;
    width: 400px;
}

.perso2{
    display: flex;
    flex-direction: row;
    justify-content:left;
    margin-left: 25rem;
    height: 375px;
    width: 400px;
}

#infomaul{
    width: auto;
    height: auto;
    opacity: 0;
}


.maul img{
    height: 100%;
    width: 100%;
}

#infovador{
    width: auto;
    height: auto;
    opacity: 0;
}

.vador img{
    height: 100%;
    
}

.perso1:hover #infomaul:not(:hover) {
    transition:all 1s;
    opacity:1;
}

.perso2:hover #infovador:not(:hover) {
    transition:all 1s;
    opacity:1;
}

footer{
    display: flex;
    color: black;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
    background-color: #a80b2081;
    position:absolute;
    bottom:0;
    width:99%;
    padding-top:50px;
    height:30px;
}


